.shortened-link__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70rem;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.shortened-link__div div:nth-child(2) {
    display: flex;
    justify-self: end;
}

.shortened-link__div div:nth-child(2) {
    color: hsl(180, 66%, 49%);
}

.shortened-link__btn {
    padding: 0.7rem 1.7rem;
    border-radius: 5px;
    align-self: center;
    margin-left: 1rem;
}

.shortened-link__btn:hover {
    background-color: rgb(0, 238, 255);
}

.style {
    background-color: hsl(257, 27%, 26%);
}

.style:hover {
    background-color: hsl(257, 27%, 26%);
}

@media (max-width: 500px) {
    .shortened-link__div {
        grid-template-columns: 1fr;
        width: 32rem;
        height: fit-content;
        padding: 0 0 2rem 0;
    }

    .shortened-link__div div:nth-child(2) {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .shortened-link__div div:nth-child(1) {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        border-bottom: 1px solid grey;
    }

    .shortened-link__div div:nth-child(2)>p {
        font-size: 2rem;
        text-align: center;
    }

    .shortened-link__btn {
        text-align: center;
        padding: 1.5rem 0rem;
        width: 90%;
        margin-left: 0;
        font-size: 1.8rem;
        border-radius: 15px;
    }

}